QMainWindow 
{
    margin: 0px;
}

QWidget#centralWidget, QDockWidget
{
    margin: 3px;
}

QTreeView
{
    background-color: rgb(221,227,235);
    alternate-background-color: #000;
    border: 1px black;
    selection-color:white;
    selection-background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #669fe1, stop: 1 #1f5fbe);
    /*show-decoration-selected: 1;*/
}

QTreeView:!active
{
    selection-color:white;
    selection-background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #b0bcdb, stop: 1 #8192bc);
}

QTreeView#treeRepoRefs
{
    background-image: url(':/images/bg.png');
    color: rgb(221,227,235);
}

/*
QTableView#tableCommits
{
    background-image: url(':/images/clouds.png');
    background-attachment: fixed;
}
*/

QSplitter
{
    margin: 0px;
}

 QSplitter::handle {
     image: url(images/splitter.png) 2px 2px;
 }

 QSplitter::handle:horizontal {
     width: 3px;
 }

 QSplitter::handle:vertical {
     height: 3px;
 }

/*
 QSplitter::handle:pressed {
     url(images/splitter_pressed.png);
 }
*/
