QMainWindow 
{
    margin: 0px;
}

QWidget#centralWidget, QDockWidget
{
    margin: 3px;
}

QTreeView
{
    background-color: rgb(221,227,235);
    border: 1px black;
    margin: 0px;
}

QTreeView#treeRepoRefs
{
    background-image: url(':/images/bg.png');
    color: rgb(221,227,235);
}

/*
QTableView#tableCommits
{
    background-image: url(':/images/clouds.png');
    background-attachment: fixed;
}
*/

QSplitter
{
    margin: 0px;
}

 QSplitter::handle {
     image: url(images/splitter.png) 2px 2px;
 }

 QSplitter::handle:horizontal {
     width: 3px;
 }

 QSplitter::handle:vertical {
     height: 3px;
 }

/*
 QSplitter::handle:pressed {
     url(images/splitter_pressed.png);
 }
*/
